html,body {
	height: 100%;
    width: 100%;
    margin: 0;
	display: table;
}

body {
	color:#212529;
	font-family: "Nunito Sans", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size:16px;
	line-height: 1.6em;
	background-color: #FFFFFF;
	/* background-image: url("images/product_bg.png"); */
	/* background-size:800px; */
	/* background-position: center; */
	padding-top: 60px;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Nav bar config */
/* Logo config */

.logo{
	cursor: pointer;
	margin-left: 20px;
}
.logo a{
	font-family:poppins;
	font-weight: bold;
	color: #2f2e41;
	font-size:2rem;
	text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	letter-spacing: 1px;
	text-decoration: none;
}
.logo font{
    color:#7A72FF;
}
/* Logo config end... */

header {
	position: fixed;
	top: 0;
	background-color: #ebe8e8;
	z-index: 999;
}

nav .navText{
	text-transform: capitalize;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 24px;
	color:black;
}

a.active{
	color: #e53637;
	font-weight: 600;
}

.navText:hover{
	color: #e53637;
}
/* Nav bar config end.... */

/* Alert display settings */

.myAlert-bottom {
	position: fixed;
	bottom: 5px;
	left: 30%;
	width: 40%;
	text-align: center;
	display: none;
	z-index: 1010;
}

/* Alert display settings end...*/


/* Jumbotron config. Contains the large search form and in the background will contain a carousel of items available. */
.jumbotron {
	padding-top: 5rem;
	padding-bottom: 10rem;
	margin-bottom: 0;
	background-color: #fff;
  }
  @media (min-width: 768px) {
	.jumbotron {
	  padding-top: 9rem;
	  padding-bottom: 15rem;
	}
  }

  .jumbotron h3 {
	font-weight: 300;
  }

  .jumbotron .container {
	max-width: 50rem;
  }

/* Item search box */
.search-box {
	padding:5px;
}
/* Jumbotron config done... */

/* Category Items container */
.product{
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	display: flex;
	margin:30px auto;
	flex-direction: column;
	align-items: center;
	padding:40px 20px;
	position: relative;
	border-radius: 10px;
}

.p-heading{
	margin:20px;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}
.p-heading h3{
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	font-size:2rem;
}

.category-product-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}
.p-box{
	width:300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	position: relative;
	margin: 10px 30px;
	padding: 10px;
	text-align: center;
}

.p-box img{
	height:180px;
	max-width: 100%;
}

.p-box p{
	/* color:#4d4d4d70; */
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 0.5;
}

.buy-btn{
	cursor: pointer;
	position: absolute;
	width: 160px;
	height: 40px;
	justify-content: center;
	align-items: center;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background: linear-gradient(to right, rgb(15, 15, 15), rgb(0, 0, 0));
	color:#FFFFFF;
	display: none;
	animation: fade 0.2s;
}

.p-box:hover .buy-btn{
	display: flex;
	color: white;
}
.p-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
	transition: all ease 0.2s;
	z-index: 998;
}

.add-watchlist{
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	gap: 5px;
	margin-bottom: 5px;
}

.p-box:hover .add-watchlist{
	display: flex;
}
/* Category Item container end... */

.signinup-container {
	text-align: center;
}

.signinup {
	display: inline-block;
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

#main-footer {
	background-color: #333;
	color:#fff;
	text-align: center;
	font-size:12px;
	display: table-row;
    height: 0;
}

/* Search results page */
/* This class is for laptops categories */

.result-container-full{
	display: grid;
	grid-template-columns: 1fr;
	margin:auto;
	max-width: 90%;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.product-container-full{
	opacity: 1;
	-webkit-transition: opacity 500ms linear;
	transition: opacity 500ms linear;

	display: grid;
	grid-template-columns: 1fr 3fr;
	background-color: white;
}
@media (max-width: 700px) {
	.product-container-full {
	  grid-template-columns: 1fr;
	}
  }

div.product-container-full:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	border-bottom: .5px solid #e8e6e1;
	z-index: 998;
}

div.product-image{
	padding:15px;
}
div.product-description {
	padding:15px;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Consists of watchlist and add to compare5689 */

.watchlist-btn{
	margin-top: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 5px;
}


div.product-image{
	height:218px;
	width: auto;
	transition: all .2s ease-in-out;
}

div.product-image:hover{
	cursor: pointer;
	transform: scale(1.015);
}

img.image-thumbnail {
	display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* Search results end... */

/* Tracked Items config */

#savedlist, #wishlist {
	position: relative;
}

.clear-btn{
	position: absolute;
	top: 5px;
	right: 80px;
}
/* Tracked Items config ends.. */
