{% extends "base.html" %}
{% set active_page = "profile" %}
{% block home_page %}
<div class="signinup-container">
	<div class="signinup">
		<form action="" method="POST">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4">Profile</legend>
		<div class="form-group">
			{{ form.email.label(class="form-control-label") }}
			{% if form.email.errors %}
				{{ form.email(class="form-control form-control-sm is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.email.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.email(class="form-control form-control-sm", size=50, placeholder="Email Address") }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.first.label(class="form-control-label") }}
					{% if form.first.errors %}
						{{ form.first(class="form-control form-control-sm is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.first.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.first(class="form-control form-control-sm", size=50, placeholder="First Name") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.last.label(class="form-control-label") }}
					{% if form.last.errors %}
						{{ form.last(class="form-control form-control-sm is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.last.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.last(class="form-control form-control-sm", size=50, placeholder="Last Name") }}
					{% endif %}
				</div>
	</fieldset>
	<div class="form-group">
		{{ form.submit(class_="btn btn-primary") }}
	</div>
</form>
	</div>
</div>
{% endblock %}