{% extends "base.html" %}
{% set active_page = "profile" %}
{% block home_page %}
<div class="container">
		<section id="main">
			{% if item_list %}
				<h3>Watchlist</h3>
				<hr>
				<small>{% for items in item_list %}
					{{items.item_name}}<br>
					Current Price {{ items.item_price }}
					<a href = {{items.item_url}}><span style = "color:red;">Go to URL</span></a><br>
				{% endfor %}
			</small>
			{% else %}
					<h4>No items selected...</h4>
			{% endif %}
		</section>
		<aside id="sidebar">
			<div class="account">
				<h3>About</h3>
				<hr>
				<form class="accountForm" action="" method="POST">
					{{ form.hidden_tag() }}
					{% for field in form if field.widget.input_type != 'hidden'%}
						{% if field.name != 'submit' %}
							{{ field.label(class_="col-form-label")}}
								{{ field(class_="accountField form-control", disabled=True) }}
								{% for error in field.errors %}
								<span style="color: red;"><small>[{{ error }}]</small></span>
								{% endfor %}
						{% else %}
							{{ field(class_="accountFieldUpdate") }}
						{% endif %}
					{% endfor %}
				</form>
			</div>
		</aside>
	</div>
{% endblock %}