<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
         />
      <!-- Bootstrap CSS -->
      <link
         rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
         integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
         crossorigin="anonymous"
         />
      <link rel="icon"
      type="image/png"
      href="{{url_for('static', filename= 'images/favicon.png')}}">
      <title>Shopify</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   </head>
   <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename= 'style.css')}}"
      />
   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet">
   </head>
   {% set active_page = active_page|default('index') -%}
   <body>
      <header class="container-fluid">
         <nav
            style="padding: 0px;"
            class="container navbar navbar-expand-md navbar-light"
            >
            <button
               class="navbar-toggler"
               type="button"
               data-toggle="collapse"
               data-target="#collapsibleNavbar"
               >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <div class="logo">
                  <a href="{{ url_for('main.home') }}"><img src="{{url_for('static', filename= 'images/logo_transparent.png')}}" width="auto" height="100%" alt="Logo"></a>
               </div>
               <a class="navText nav-link ml-auto {{'active' if active_page == 'index'}} " href="{{ url_for('main.home') }}"
                  >Home</a
                  >
               <a class="navText nav-link {{'active' if active_page == 'tracked_items'}}" href="{{ url_for('post.tracked_items') }}"
                  >Saved Items</a
                  >
               {% if current_user.is_anonymous %}
               <a class="navText nav-link {{'active' if active_page == 'login'}}" href="{{ url_for('user.login') }}"
                  >Login</a
                  >
               <a class="navText nav-link {{'active' if active_page == 'register'}}" href="{{ url_for('user.register') }}"
                  >Register</a
                  >
               {% else %}
               <a class="navText nav-link {{'active' if active_page == 'profile'}}" href="{{ url_for('user.account') }}"
                  >Profile</a
                  >
                <a class="navText nav-link" href="{{ url_for('user.logout') }}">Logout</a>
               {% endif %}
            </div>
         </nav>
      </header>
      <div class="container">
         {% block messages %} {% with messages = get_flashed_messages() %} {% if
         messages %}
         <div class="alert alert-info alert-dismissible fade show" role="alert">
            {% for message in messages %} {{ message }} {% endfor %}
            <button
               type="button"
               class="close"
               data-dismiss="alert"
               aria-label="Close"
               >
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <br />
         {% endif %} {% endwith %} {% endblock %}
      </div>
      {% block home_page %}{% endblock %}
      <div style="clear: both"></div>
      <div class="myAlert-bottom alert alert-primary">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <p id="alertText"></p>
      </div>
      <footer id="main-footer">
         <p>Copyright &copy; 2020 My Website</p>
      </footer>
     </div>
      {% block scripts %} {% endblock %}
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
         src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
         integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
         integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
         crossorigin="anonymous"
         ></script>
      <script src="{{ url_for('static', filename='main.js') }}"></script>
   </body>
</html>