{% extends "base.html" %}
{% block home_page %}
	<div class="signinup-container">
		<div class="signinup">
			<form action="" method="POST">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Password Reset Form</legend>
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-sm is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-sm", size=50) }}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class_="btn btn-primary") }}
				</div>
			</form>
		</div>
	</div>
{% endblock %}