{% extends "base.html" %} {% set active_page = "search" %} {% block messages %}
<div class="alert alert-light" role="alert">
   <p>Search Results for "{{ search_str }}"</p>
</div>
{% endblock %} {% block home_page %} {% if category in ('laptops', 'mobiles') %}
<div class="result-container-full">
   {% for result in results %}
   <!-- Product -->
   <div class="product-container-full">
      <!-- Product Image and details-->
      <div class="product-image">
         <a target="_blank" href="{{ result.item_url }}"
            ><img
            title="Go to {{result.retailer.name }}"
            class="image-thumbnail"
            src="{{ result.item_image }}"
            alt="{{ result.item_name }}"
            /></a>
      </div>
      <!-- Product description with Link -->
      <div class="product-description">
         <a target="_blank" href="{{ result.retailer.home_url }}">
            <p style="text-transform: capitalize; font-weight: bold; color: #35BCFC;">
               {{ result.retailer.name }}
            </p>
         </a>
         <a
            target="_blank"
            href="{{ result.item_url }}"
            title="{{result.item_name}}"
            >{{ result.item_name }}</a
            >
         <p class="item-price">&#x20B9; {{ result.item_price }}</p>
         {% if current_user.is_authenticated %}
         {# Check if item is already in the watch list #}
         <button type="button" class="btn btn-outline-dark btn-sm watchlist-btn">Add to Watchlist?</button>
         {% endif %}
         <button type="button" class="btn btn-outline-dark btn-sm compare-btn">Add to Compare</button>
      </div>
   </div>
   {% endfor %}
</div>
{% else %}
<section class="container product">
   <div class="p-heading">
      <h3>Fashion</h3>
   </div>
   <div class="category-product-container">
      {% for result in results %}
      <div class="p-box">
         <p class="add-watchlist">Add to Watchlist?</p>
         <a target="_blank" href="{{ result.item_url }}">
         <img
            title="Go to {{result.retailer.name }}"
            src="{{ result.item_image }}"
            alt="{{ result.item_name }}"
            />
         </a>
         <!--details--------->
         <br>
         <a
            target="_blank"
            href="{{ result.item_url }}"
            title="{{result.item_name}}"
            >
            <h6>{{ result.item_name }}</h6>
         </a
            >
         <!--price--->
         <h4>
            <a target="_blank" href="{{ result.retailer.home_url }}">
				<p style="text-transform: capitalize; font-weight: bold; color: #35BCFC;">
				   {{ result.retailer.name }}
				</p>
			 </a>
            <p>&#x20B9; {{ result.item_price }}</p>
         </h4>
         <!--buy-btn-->
         <a class="buy-btn" href="#">Add To Compare</a>
      </div>
      {% endfor %}
   </div>
</section>
{% endif %} {% endblock %}